<configuration>

    <timestamp key="byTimestamp" datePattern="yyyy-MM-dd-HHmm"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/log-${byTimestamp}.txt</file>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.eclipse.jgit.util" level="info"/>
    <logger name="org.mongodb.driver" level="info"/>
</configuration>
